
html {
 scroll-behavior: smooth;
}


header{
height: 100%;
width: 100%;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/A_large_blank_world_map_with_oceans_marked_in_blue.svg/4500px-A_large_blank_world_map_with_oceans_marked_in_blue.svg.png);
background-size: cover;
z-index: 20;
display: flex;
flex-wrap: wrap;
justify-content: center;
opacity: 50%;
}


.header-container {
 width: 50%;
 text-align: center;
 opacity: none;
}


header h3{
 margin: 200px 0 0 0;

}


header h3, header h4 {
 z-index: 40;
 font-size: large;
 display: flex;
 justify-content: center;

}


.page-header {
 text-align: center;
}


 a {
  text-decoration: none;
  color: black;
 } 
 
 #down {
  margin-top: 10px;
  padding-bottom: 25%;
 } 


main{
 height: 60%;
 display: flex;
 justify-content: space-evenly;
 flex-direction:row;
}



#img-container {
 height: 520px;
 width: 520px;
}

img{
 width: 400px;
 height: 400px;
 padding: 10px;
 
}

footer {
 background-color: #d4e9fb;
 height: 40%;
}


input {
 background-color:dimgrey;
 color: #fff;
 border: none;
 padding: 18px 36px 18px 36px; 
 margin: 30px 0 0 0 ;
 font-weight: bolder;
 border-radius: 5px;
 font-size: 18px;
}

form {
 text-align: center;
}

#img-container {
 width: 420px;
 height: 420px;
 text-align: center;
}
#img-select {
 width: 420px;
 text-align: center;
 padding: 10px;
 margin: 5px;
}


form #add {
 cursor: pointer;
}
form #remove {
 cursor: pointer;
}

.hidden {
 display: none;
}